<div id="footer">
    <table style="float: right;display: inline-block;margin-top: 110px;">
        <tr>
            <td style="font: 14px/18px GibsonRegular;
    color: #a9a9a9;">
                © 2016 Netcracker. All rights reserved.
            </td>
        </tr>
    </table>
</div>